<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>See All Students</title>
</head>
<body>
	<h2>See all students: </h2>
	
	<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Course</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="student : ${all_student}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.course}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>