<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Update Student</title>
</head>
<body>
	<h2>Update Student: </h2>
	
	<form action = "updateStudent" method = "post">
		
		<label>Student Id: </label>
		<input type = "text" name = "id">
		<br>
		<br>
		<label>Student Name: </label>
		<input type = "text" name = "name">
		<br>
		<br>
		<label>Student Email: </label>
		<input type = "text" name = "email">
		<br>
		<br>
		<label>Student Course: </label>
		<input type = "text" name = "course">
		<br>
		<br>
		<input type = "submit" value = "Update Students">
		
	</form>
</body>
</html>