<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="container">
        <h2>Register</h2>
        <form action="reg" method="post">
            <label for="username">Username:</label>
            <input type="text" name="username" required>

            <label for="email">Email:</label>
            <input type="text" name="email" required>

            <label for="password">Password:</label>
            <input type="password" name="password" required>

            <label>Gender:</label>
            <br>
            <div class="radio-group">
                <label><input type="radio" name="gender" value="Male" required> Male</label>
                <label><input type="radio" name="gender" value="Female"> Female</label>
                <label><input type="radio" name="gender" value="Others"> Others</label>
            </div>
            <br>
            <label for="address">Address:</label>
            <textarea name="address" rows="3"></textarea>

            <input type="submit" value="Register">
        </form>
        <div class="message" th:text="${regMsg}"></div>
        <a href="/">Back to Home</a>
    </div>
</body>
</html>
